a {
    text-decoration: none;
}

/* view-hike-page */

#comment-input {
    height: 100px;
    width: 500px;
}

#comment-submit {
    position: relative;
    bottom: 45px;
    height: 30px;
    width: 100px;
    margin-left: 5px;
    border-radius: 5px;
}

#the-hikes {
    position: relative;
    left: 94%;
    bottom: 10%;
}

#delete-edit-hike-div {
    display: block;
}

/* new hike page */

#create-hike-submit {
    position: relative;
    left: 70%;
    bottom: 55px;
    height: 30px;
    width: 100px;
}

#new-hike-description-label {
    position: relative;
    bottom: 148px;
}