<h1><%= "#{@user.username.capitalize}"%>'s Hikes</h1>

<% @hikes.each do |hike| %>
<h2> <%= hike.name %> </h2>
<h3> Difficulty: <%= hike.difficulty %> </h3>
<h3> Rating: <%= hike.rating %> </h3>
<%end%>