Login!
<br>
<br>
<form action="/login" method="post">
<label for="username">username</label>
<input type="text" name="username">
<br>
<label for="password">password</label>
<input type="password" name="password">
<br>
<input type="submit" value="Login">
</form>
<br>
<p>dont have an account? Sign up <a href="/signup">here!</a></p>