sign up!

<form action="/signup" method="post">
<label for="username">username</label>
<input type="text" name="username">
<br>
<label for="email">email</label>
<input type="text" name="email">
<br>
<label for="password">password</label>
<input type="text" name="password">
<br>
<input type="submit" value="Sign up">
</form>